<%- include('parts/html-head') %>   <!--減號-->
<%- include('parts/navbar') %>


<div class="container">
<h2>你好，<%= name %>!</h2>  <!--等號-->
</div>

<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>